@using EventHub.Application.Dtos.Response.Event;
@model List<EventCardModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="bg-[#111419]  bg-gradient-to-b from-[#111419] to-[#242A32] dark:from-[#111419] w-full mt-[3rem]"
         style="background: rgb(17,20,25); background: linear-gradient(180deg, rgba(17,20,25,1) 9%, rgba(51,51,51,1) 95%);">
    <div class="pt-8 px-4 mx-auto max-w-screen-xl text-center lg:pt-16 z-10 relative">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">
            Events for you
        </h1>
        <section class="items-center mt-10">
            <div class="max-w-screen-xl mx-auto w-full">
                <!-- Start coding here -->
                <vc:event-search></vc:event-search>
            </div>
        </section>
    </div>

</section>

<div class="lg:px-[6rem] sm:px-[1rem] px-[2rem] py-6 items-center-px-4 bg-[#333333]">
    @if (Model.Count == 0)
    {
        <h1 class="text-xl py-2 text-center bg-[#333333] font-bold tracking-tight leading-none text-gray-900 md:text-2xl lg:text-3xl dark:text-white">No events found</h1>
    }
    <div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-4 mb-4">
        @foreach (var e in Model)
        {
            <a asp-controller="Event" asp-action="Id" asp-route-eventId="@e.Id" class="flex flex-col sm:flex-row items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 sm:h-36 md:h-48">
                <img class="object-cover sm:h-full sm:w-56 xs:w-full md:rounded-none md:rounded-l-lg" src="@e.ImageUrl"
                     alt="">
                <div class="p-4 leading-normal h-full">
                    <h5 class="mb-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">@e.Title</h5>
                    <span class="flex gap-4 text-lg items-center mb-3 font-normal text-gray-700 dark:text-gray-400"
                          style="text-overflow: ellipsis;">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 17 21">
                            <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                <path d="M8 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                <path d="M13.8 12.938h-.01a7 7 0 1 0-11.465.144h-.016l.141.17c.1.128.2.252.3.372L8 20l5.13-6.248c.193-.209.373-.429.54-.66l.13-.154Z" />
                            </g>
                        </svg>
                        @e.Location
                    </span>
                    <span class="flex gap-4 text-lg items-center font-normal text-gray-700 dark:text-gray-400">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="1.5"
                                  d="M5 1v3m5-3v3m5-3v3M1 7h18M5 11h10M2 3h16a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z" />
                        </svg>
                        @e.Start.ToString("dd MMM yyyy")
                    </span>
                </div>
            </a>
        }
    </div>
</div>